/* Set the font style as Nanum Gothic */
/* Make the scroll effect is smooth */

html {
    scroll-behavior: smooth;
    font-family: 'Nanum Gothic', sans-serif;
}

body {
    scroll-behavior: smooth;
    padding-top: 135px
}

/* Navigation bar */

.NavigationBar {
    z-index: 9999;
    background-color: #eee;
    overflow: hidden;
    width: 100%;
    position: fixed; 
    top: 0px;
    left: 0px;
    right: 0px; 
    transition: top 0.5s;
    height: auto;
}

.NavigationBar a {
    display: block;
    float: left;
    color: #1f1c3f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

.NavigationBar a:hover {
    background-color: #3c3d50;
    color: #f6f0f0
}

.NavigationBar a.HomePage {
    background-color: #6c707d;
    /* color: #0d120e */
}

/* Picture frame for the personal picture */

.frame {
    position:relative;
    padding:0;
    margin:0;
    border:solid 15px #555; 
    max-width:600px;
    margin:40px auto;
    box-shadow:-3px -3px 12px #999;   
}

.border{
    position:relative;
    padding:0;
    margin:0;
    border:solid 70px white;
    box-shadow:-3px -3px 12px #999;
}  

   