/* Make the scroll effect is smooth */

html {
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
}

/* Navigation bar */

.NavigationBar {
    background-color: #eee;
    overflow: hidden;
}

.NavigationBar a {
    float: left;
    color: #1f1c3f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.NavigationBar a:hover {
    background-color: #3c3d50;
    color: #f6f0f0
}

.NavigationBar a.HomePage {
    background-color: #1da756;
    /* color: #0d120e */
}

/* Back to top button */

#TopButton {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(110, 230, 36); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #TopButton:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }